*.class
.mtj.tmp/
*.jar
*.war
*.ear
hs_err_pid*
*.log
.dropbox
*.DS_Store
bin
target
.classpath
.project
.settings
src/main/webapp/META-INF
.idea
*.iml
imagens-textos-livro
jsonData.txt
output.txt
inserts-security.txt
dev.properties
sprinloaded.param
*.log.gz
springlint-result.html
